@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans+TC:wght@100..900&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
}

input, button, select {
  outline: none;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 11px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header_logo {
  width: 280px;
  display: block;
}

.header_logo > img {
  width: 100%;
}

.header_user {
  margin-left: 30px;
  width: 33px;
}

.header_user > img {
  width: 100%;
}

.header_nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav li {
  margin-left: 38px;
}

.header_nav li:first-child {
  margin-left: 0;
}

.header_nav li a {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  position: relative;
}

.header_menu {
  width: 20px;
  z-index: 1;
}

.header_menu > img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .header {
    height: 70px;
  }
  .header > .container {
    height: 100%;
  }
  .header_logo {
    width: 124px;
    z-index: 1;
  }
  .header_nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background: linear-gradient(120deg, #2DB3FF 0%, #525FCC 100%);
    padding: 100px 20px 0;
    background-image: url(../img/nav-bg.png);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 0;
  }
  .header_nav li {
    margin: 30px 0;
  }
  .header_nav li a {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    z-index: 0;
    font-size: 16px;
  }
  .header_nav li a.active {
    color: #fff;
  }
  .header_nav li a::after {
    width: calc(100% + 10px);
    height: 11px;
    background-color: rgba(255, 255, 255, 0.3);
    top: calc(100% - 10px);
    -webkit-transform: translateX(-50%) skewX(-30deg);
            transform: translateX(-50%) skewX(-30deg);
    z-index: -1;
  }
  .header_nav.active {
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 50px;
  }
}

.banner {
  position: relative;
  width: 100%;
  padding-bottom: 43.33%;
}

.banner_pic {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner_style {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .banner {
    padding-bottom: 51.2%;
  }
}

.error {
  padding: 0 40px 130px;
}

.error img {
  max-width: 540px;
  width: 100%;
  display: block;
  margin: 0 auto 25px;
}

.error h2 {
  color: #171717;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.error p {
  font-size: 18px;
  color: #171717;
  text-align: center;
  margin-bottom: 23px;
}

.error a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 155px;
  height: 60px;
  background: linear-gradient(100deg, #2DB3FF 0%, #525FCC 100%);
  border-radius: 100px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .error {
    padding-bottom: 70px;
  }
  .error h2 {
    font-size: 18px;
  }
  .error p {
    font-size: 16px;
  }
  .error a {
    width: 111px;
    height: 40px;
    font-size: 16px;
  }
}

.back-login {
  width: 100vw;
  height: 100vh;
  background: url(../img/bg.png) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-login_logo {
  display: block;
  margin: 0 auto 8px;
  max-height: 58px;
}

.back-login_content {
  max-width: 540px;
  width: calc(100% - 40px);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 24px;
  padding: 12px;
}

.back-login_content_border {
  width: 100%;
  height: 100%;
  padding: 3px;
  border-radius: 18px;
  background: linear-gradient(128deg, #b8d5f6 0%, #fafafa 88%, #8ab9ff 100%);
}

.back-login_content_inner {
  background: #fff url("../img/bg-short.png") top center no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 58px 75px 50px;
}

.back-login_title {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.back-login_title > span {
  display: block;
  font-size: 26px;
  font-weight: 700;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#1369b9), to(#2abdd2));
  background: linear-gradient(to left, #1369b9 0%, #2abdd2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.back-login_title_color {
  position: absolute;
  top: 0;
  left: 0;
}

.back-login_title_shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 4px #fff;
}

.back-login_contact_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.back-login_button {
  width: 100%;
  border-radius: 35px;
  margin-top: 38px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#5fc4dc), to(#6078ea));
  background: linear-gradient(to right, #5fc4dc, #6078ea);
  height: 42px;
}

.back-login .input-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.back-login .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 10px;
  gap: 5px;
}

.back-login .input-wrapper img {
  width: 14px;
}

.back-login .input-wrapper .input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  padding: 0;
}

.back-login .input-wrapper .input::-webkit-input-placeholder {
  color: #a7aebb;
}

.back-login .input-wrapper .input:-ms-input-placeholder {
  color: #a7aebb;
}

.back-login .input-wrapper .input::-ms-input-placeholder {
  color: #a7aebb;
}

.back-login .input-wrapper .input::placeholder {
  color: #a7aebb;
}

.back-login .dropdown {
  color: #a7aebb;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
}

@media screen and (max-width: 575px) {
  .back-login_logo {
    max-width: 140px;
  }
  .back-login_content_inner {
    padding: 58px 20px 50px;
  }
}

.footer {
  background: linear-gradient(95deg, #2DB3FF 0%, #525FCC 100%);
}

.footer_top {
  padding: 62px 0 55px;
}

.footer_logo {
  max-width: 300px;
  width: 100%;
  margin-bottom: 28px;
}

.footer_intro {
  color: #fff;
  margin: 0;
  width: 100%;
  max-width: 390px;
}

.footer_nav {
  width: 60%;
  margin: 0 auto;
}

.footer_nav a {
  font-size: 18px;
  color: #fff;
  margin-bottom: 22px;
  display: block;
}

.footer_contact_inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer_contact h3 {
  font-size: 20px;
  font-family: "Work Sans", serif;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 500;
}

.footer_contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 265px;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}

.footer_contact form input {
  width: calc(100% - 20px);
}

.footer_contact form input::-webkit-input-placeholder {
  color: #B3B3B3;
}

.footer_contact form input:-ms-input-placeholder {
  color: #B3B3B3;
}

.footer_contact form input::-ms-input-placeholder {
  color: #B3B3B3;
}

.footer_contact form input::placeholder {
  color: #B3B3B3;
}

.footer_contact form button {
  padding: 0;
  width: 20px;
}

.footer_contact form button > img {
  width: 100%;
}

.footer_copyright {
  font-size: 14px;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Work Sans", serif;
  text-align: center;
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer_fb {
  width: 32px;
  display: block;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_fb > img {
  width: 100%;
}

.footer_fb:hover {
  opacity: 0.8;
}

@media screen and (max-width: 991px) {
  .footer_top {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .footer_logo {
    display: block;
    margin: 0 auto 30px;
    width: 146px;
  }
  .footer_nav {
    width: 100%;
  }
  .footer_nav a {
    font-size: 12px;
  }
  .footer_contact_inner {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .footer_contact form {
    width: calc(100% - 20px - 32px);
  }
}
/*# sourceMappingURL=style.css.map */