@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
    font-family: "Noto Sans TC", serif;
}

.back-login {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 250px;
    &_content {
        max-width: 540px;
        width: calc(100% - 40px);
        margin: 0 auto;
        background-color: rgba(255,255,255,0.4);
        border-radius: 24px;
        padding: 12px;
        &_border {
            width: 100%;
            height: 100%;
            padding: 3px;
            border-radius: 18px;
            background: linear-gradient(128deg, #B8D5F6 0%, #FAFAFA 88%, #8AB9FF 100%);
        }
        &_inner {
            background-color: #fff;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            padding: 58px 75px 50px;
        }
    }
    &_title {
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        >span {
            display: block;
            font-size: 26px;
            font-weight: 700;
            width: 100%;
            background: linear-gradient(to left, #1369B9 0%, #2ABDD2 100%);
            background-clip: text;
            color: transparent;
        }
        &_color {
            position: absolute;
            top: 0;
            left: 0;
        }
        &_shadow {
            text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
            -webkit-text-stroke: 4px #fff;
        }
    }
}